<app-header></app-header>
<br />
<div class="row" style="margin-top: 20px">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group" style="text-align: center">
            <label>Choose Crypto currency</label>
            <select id="cryptoCurrency">
              <option value="btc">Bitcoin</option>
              <option value="eth">Ethereum</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6">
          <label>Convert to : </label>
          <select id="toCurrency">
            <option value="eur">Euro</option>
            <option value="usd">USD</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
